        <section class="med-spaces no-pad-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="custom-panel clearfix hero-match">
                            <div class="top clearfix">
                                <div class="col-lg-10">
                                    <h3 class="normal-case"><strong>Agtoberfest</strong></h3>
                                    <p class="bold uppercase letter-spacing">Three hours before kickoff / Campus Farm</p>
                                    <hr class="white thin">
                                    <p>Join fellow College of Agriculture and Natural Resources alumni for a tailgate and hear from Dean Craig Beyrouty about the college’s strategic initiatives following statewide listening sessions that will inform its Fearless Ideas.</p>
                                    <p><a class="body-color bold" href="https://agnr.umd.edu/news/events/2017-10-28-000000-homecoming-tailgate">Learn More &rarr;</a></p>
                                    <div class="med-spaces">
                                        <hr class="white med full">
                                    </div>
                                    <h3 class="normal-case"><strong>Greek Life Alumni Tailgates</strong></h3>
                                    <p class="bold uppercase letter-spacing">Contact your chapter for times and locations </p>
                                    <hr class="white thin">
                                    <p>Fraternity and sorority chapters will coordinate and host alumni events throughout Homecoming weekend, so check with your organization’s chapter president or alumni advisors for information and details. </p>
                                    <p><a class="body-color bold" href="http://greek.umd.edu/">Learn More &rarr;</a></p>
                                </div>
                                <div class="col-lg-2">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="custom-panel clearfix">
                            <div class="clearfix">
                                <div class="hero-wrapper hero-wrapper-grid clearfix hero-match">
                                    <div id="hero" class="header-banner dark" style="background-image:url('{{ site.baseurl }}/img/bg/riggs.png');"></div>
                                    <div class="h-textarea">
                                        <div class="">
                                            <div class="col-lg-12 columns h-textarea-inner position-top">
                                                <div class="textarea-intro center">
                                                    <div class="col-lg-12">
                                                        <h1 class="white normal-case"><strong>Alumni Tailgate</strong></h1>
                                                        <p class="bold uppercase letter-spacing">Saturday, Oct. 28  /  2.5 hours before kickoff<br>Samuel Riggs IV Alumni Center</p>
                                                        <img class="center wavy-lines" src="{{ site.baseurl }}/img/wave-lines-white.svg" alt="wavy line divider for stylistic purposes">
                                                        <p>The Alumni Association welcomes alumni, friends and visitors to its annual Homecoming Tailgate, an all-inclusive experience of food, drink and a whole lot of fun. Get your groove on to live music, play some tailgate games and connect with old and new friends.</p>
                                                        <a class="btn btn-white square dark" href="https://alumni.umd.edu/attend-event/signature-events/homecoming-and-open-houses">Register</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>