    <section class="spaces white-bg">
		<div class="container">
            <div class="row">
            	<div class="col-md-2 col-md-offset-1 center">
            		<img src="{{ site.baseurl }}/img/125th-logo.png" alt="University of Maryland football 125th anniversary logo">
            	</div>
            	<div class="col-md-7 col-md-offset-1">
            		<h3 class="bold red">125th Anniversary of Maryland Football</h3>
            		<p>Since 1892, the Maryland football program has accumulated 11 conference championships, celebrated 11 consensus All-Americans and 16 NFL first-round draft picks, appeared in 27 bowl games and won the 1953 national championship. Find your 125th anniversary  T-shirts and memorabilia at the UMD Bookstore in the Stamp Student Union or shop.umterps.com. </p>
            		<ul class="nav no-style med-spaces">
                        <li><a class="left btn btn-blk square featured" data-toggle="modal" data-target="#myModal">Watch Video</a></li>
                        <li><a class="left body-color bold" href="http://www.umterps.com/fls/29700/terps125/">Visit Anniversary Site &rarr;</a></li>
                        <li><a class="left body-color bold" href="http://shop.umterps.com/">Buy Memorabilia &rarr;</a></li>
                    </ul>
            	</div>
            </div>
        </div>
	</section>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">125th Anniversary of Maryland Football Video</h4>
                </div>
                <div class="modal-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UBkQTFqarcs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>