        <div class="hero-wrapper clearfix">
            <div id="hero" class="header-banner" style="background-image:url('{{ site.baseurl }}/img/bg/football.png');"></div>
            <div class="container h-textarea">
                <div class="row">
                    <div class="h-textarea-inner">
                        <div class="textarea-intro">
                            <div class="col-lg-8">
                                <h1 class="white normal-case med-spaces no-marg-b"><strong>Maryland vs Indiana</strong></h1>
                                <p class="bold white uppercase">Saturday, Oct. 28  / Kickoff TBD / Capital One Field at Maryland Stadium</p>
                                <p class="white"><b>$25–$50</b>  /  The Terps will take on the Indiana Hoosiers—come out and celebrate Terp spirit and Maryland football's 125th anniversary.</p>
                                <a class="btn btn-white square" href="http://umterps.com/">Buy Tickets</a>

                            </div>
                            {% if page.title != 'Athletics' %}
                            <div class="col-lg-3 col-lg-offset-1 center border-left hidden-md hidden-sm hidden-xs">
                                <a href="http://www.umterps.com/fls/29700/terps125/"><img src="{{ site.baseurl }}/img/125th-logo.png" alt="University of Maryland football 125th anniversary logo"></a>
                                <br>
                                <br>
                                <a class="white bold" href="http://www.umterps.com/fls/29700/terps125/">Anniversary Site &rarr;</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>