    <section class="med-spaces no-pad-b">
        <div class="feature-card-container">
            <div class="feature-card clearfix image-left height-100 no-box-shadow no-border">
                <div class="feature-description grid-width">
                    <div class="feature-content clearfix spaces">
                        <div class="col-lg-8">
                            <h3 class="red bold">{{ site.data.locale.spirit_royalty.title }}</h3>
                            <p>{{ site.data.locale.spirit_royalty.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="feature-img-container">
                    <div class="feature-img" style="background-image: url('{{ site.baseurl }}/img/spirit.png');"></div>
                </div>
            </div>
        </div>
    </section>