    <div class="feature-card-container yellow-bg">
		<div class="feature-card clearfix image-left height-100 no-box-shadow no-border">
			<div class="feature-description grid-width">
				<div class="feature-content clearfix spaces">
					<div class="panel panel-default transparent-bg white-border contact-match col-lg-8">
                        <div class="panel-body panel-body-med">
                            <h4 class="bold body-color">Terp Alley</h4>
                            <p>Join the Maryland Spirit Squad, Dance Team and Mighty Sound of Maryland as they welcome the Maryland Football team to the stadium prior to the game! Terp Alley will be at Stadium Drive Traffic circle, just outside the West Gate of Capital One field at Maryland Stadium. Also be sure to check out the inflatable games and kids’ activities on Legacy Plaza.</p>
                            <p><a class="bold body-color" href="#">Learn More &rarr;</a></p>
                        </div>
                    </div>
				</div>
			</div>
			<div class="feature-img-container">
                <div class="feature-img" style="background-image: url('{{ site.baseurl }}/img/yellow-cheer.png');"></div>
			</div>
		</div>
	</div>