    <div class="row med-spaces no-pad-b hero-small">
        <div class="col-lg-6 no-pad-all">
            <div class="hero-wrapper hero-wrapper-grid clearfix">
                <div id="hero" class="header-banner dark" style="background-image:url('{{ site.baseurl }}/img/bg/umd-campus.png');"></div>
                <div class="h-textarea">
                    <div class="">
                        <div class="col-lg-12 columns h-textarea-inner">
                            <div class="textarea-intro center">
                                <h2 class="white uppercase"><strong>University of Maryland</strong></h2>
                                <a href="https://www.umd.edu/history-and-mission" class="btn btn-white square dark">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 no-pad-all">
            <div class="hero-wrapper hero-wrapper-grid clearfix">
                <div id="hero" class="header-banner dark" style="background-image:url('{{ site.baseurl }}/img/bg/stadium.png');"></div>
                <div class="h-textarea">
                    <div class="">
                        <div class="col-lg-12 columns h-textarea-inner">
                            <div class="textarea-intro center">
                                <h2 class="white uppercase shadow"><strong>Capital One Field<br>at Maryland Stadium</strong></h2>
                                <a href="http://www.umterps.com/ViewArticle.dbml?&DB_OEM_ID=29700&ATCLID=208142463&DB_OEM_ID=29700" class="btn btn-white square dark">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>