        <section class="red-bg" style="border-top: 3px solid #f1f1f1;">
            <div class="container med-spaces">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="white no-pad-b center"><b>Wear your pride!</b> Find your 125th anniversary T-shirts and memorabilia at the <a class="white" href="http://umcp.bncollege.com/webapp/wcs/stores/servlet/BNCBHomePage?storeId=15551&catalogId=10001&langId=-1"><u>UMD Bookstore</u></a> in the Stamp Student Union or at <a class="white" href="//shop.umterps.com"><u>shop.umterps.com</u></a>.</p>
                    </div>
                </div>
            </div>
        </section>