<div class="hero-wrapper hero-wrapper-grid clearfix">
    <div id="hero" class="header-banner dark" style="background-image:url('{{ site.baseurl }}/img/grid/carnival.png');"></div>
    <div class="h-textarea">
        <div class="">
            <div class="col-lg-12 columns h-textarea-inner">
                <div class="textarea-intro center">
                    <h3 class="white bold">{{ site.data.locale.terp_carnival.title }}</h3>
                    <p class="bold white uppercase">{{ site.data.locale.terp_carnival.date_time }}<br>{{ site.data.locale.terp_carnival.location }}</p>
                    <a class="btn btn-white square dark" href="{{ site.data.locale.terp_carnival.link_url }}">{{ site.data.locale.terp_carnival.link }}</a>
                </div>
            </div>
        </div>
    </div>
</div>