    <div class="nav-position clearfix">
        <div class="nav-position-inner">

            <nav id="navbar" class="header navbar navbar-default med-spaces header-bg navbar-fixed-top">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <div class="col-xs-9 hidden-md hidden-lg">
                                <a class="white uppercase bold letter-spacing small-header" href="{{ site.baseurl }}/">Homecoming 2017<span class="hidden-header">  /  October 22–29</span></a>
                            </div>
                            <div class="col-xs-3 right">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <div class="ham-label hidden-xs">
                                        <span>Menu</span>
                                    </div>
                                    <div class="ham-bars">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </div>
                                </button>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="navbar-collapse collapse navbar-bottom">
                        <div class="col-sm-4 no-pad-all center">
                            <ul class="menu nav navbar-nav">
                                <li><a href="{{ site.baseurl }}/events/">Events</a></li>
                                <li><a href="{{ site.baseurl }}/spirit/">Spirit &amp; Traditions</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 no-pad-all center hidden-sm hidden-xs">
                            <a class="white uppercase bold letter-spacing" href="{{ site.baseurl }}/">Homecoming 2017  /  October 22–29</a>
                        </div>
                        <div class="col-sm-4 no-pad-all center">
                            <ul class="menu nav navbar-nav">                        
                                <li><a href="{{ site.baseurl }}/venue/">Venue Details</a></li>
                                <li><a href="{{ site.baseurl }}/contacts/">Contacts &amp; Committees</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>