    <div class="hero-wrapper overlay dark clearfix">
        <div id="hero" class="header-banner" style="background-image:url('{{ site.baseurl }}/img/bg/main-banner.png');"></div>
        <div class="container h-textarea">
            <div class="row">
                <div class="col-lg-12 columns h-textarea-inner">
                    <div class="textarea-intro">
                        <!-- <h1 class="white uppercase large center"><strong>{{ page.title }}</strong></h1> -->
                        <img class="center img-responsive" src="{{ site.baseurl }}/img/homecoming-m.png">
                        <h3 class="white uppercase bold center letter-spacing">October 22–29</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>