---
layout: sub-pages
title: Students
description: List of upcoming student homecoming events at the University of Maryland
permalink: '/events/students/'
---
    
    <div class="hero-wrapper overlay dark clearfix">
        <div id="hero" class="header-banner" style="background-image:url('{{ site.baseurl }}/img/bg/event.png');"></div>
        <div class="h-textarea">
            <div class="h-textarea-inner">
                <div class="textarea-intro">
                    <img class="center img-responsive icon" src="{{ site.baseurl }}/img/icons/riggs-lrg.png">
                    <h1 class="white center normal-case"><strong>Events</strong></h1>
                </div>
            </div>
        </div>
    </div>

    {% include /sections/event-subnav.html %}

    <section class="white-bg">
        <div class="container spaces">
            <div class="row">
                <div class="col-md-8 event-content-area">

                    <iframe src="https://orgsync.com/64885/calendar/iframe" style="border: 0; height: 700px; width: 100%"></iframe>
                    <!-- <div class="med-spaces">
                        <h3 class="gray bold">Day of Week, Month, Day</h3>
                    </div>

                    <section class="med-spaces no-pad-top">
                        <h3 class="bold red no-marg-top">Event Title</h3>
                        <p class="bold">Event time / Event Location</p>
                        <p class="bold">Sponsor Organizations</p>
                        <div class="med-spaces">
                            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </section>

                    <section class="med-spaces no-pad-top">
                        <h3 class="bold red no-marg-top">Event Title</h3>
                        <p class="bold">Event time / Event Location</p>
                        <p class="bold">Sponsor Organizations</p>
                        <div class="med-spaces">
                            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </section>

                    <section class="med-spaces no-pad-top">
                        <h3 class="bold red no-marg-top">Event Title</h3>
                        <p class="bold">Event time / Event Location</p>
                        <p class="bold">Sponsor Organizations</p>
                        <div class="med-spaces">
                            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </section>

                    <section class="med-spaces no-pad-top">
                        <h3 class="bold red no-marg-top">Event Title</h3>
                        <p class="bold">Event time / Event Location</p>
                        <p class="bold">Sponsor Organizations</p>
                        <div class="med-spaces">
                            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </section>

                    <section class="med-spaces no-pad-top">
                        <h3 class="bold red no-marg-top">Event Title</h3>
                        <p class="bold">Event time / Event Location</p>
                        <p class="bold">Sponsor Organizations</p>
                        <div class="med-spaces">
                            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </section>
 -->
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-blk square full" href="https://orgsync.com/64885/events?view=upcoming">More Student Events</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-gray square full" href="https://orgsync.com/64885/forms/267164">Submit Student Events</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 hero-small">
                    <div class="med-spaces no-pad-top">
                        {% include /cards/service-day.html %}
                    </div>
                    <div class="med-spaces no-pad-top">
                        {% include /cards/comedy-show.html %}
                    </div>
                    <div class="med-spaces no-pad-top">
                        {% include /cards/homecoming-5k.html %}
                    </div>
                    <hr>
                    <p>
                        <b>Do you have an event that you want on the Homecoming calendar?</b><br>
                        <a href="#">Submit your Student Organization's event</a> to have it displayed on the official University of Maryland Homecoming calendar.
                    </p>
                    
                </div>
            </div>
        </div>
    </section>






