---
layout: sub-pages
title: Athletics
description: To Turn Imagination into Innovation
banner: /img/slider/boldness.png
permalink: '/events/athletics/'
---
	
    <div class="hero-wrapper overlay dark clearfix">
        <div id="hero" class="header-banner" style="background-image:url('{{ site.baseurl }}/img/bg/event.png');"></div>
        <div class="h-textarea">
            <div class="h-textarea-inner">
                <div class="textarea-intro">
                    <img class="center img-responsive icon" src="{{ site.baseurl }}/img/icons/riggs-lrg.png">
                    <h1 class="white center normal-case"><strong>Events</strong></h1>
                </div>
            </div>
        </div>
    </div>

	{% include /sections/event-subnav.html %}

    {% include /sections/game-banner.html %}

    {% include /sections/football.html %}

    {% include /sections/wear-pride.html %}

	<div class="container med-spaces">
        <div class="row">
            <div class="col-md-4">
            	<div class="panel panel-default contact-match no-styles">
                    <div class="panel-body panel-body-med">
                        <p class="match"><span class="bold red">Online Football Ticket Sales</span><br>Haven’t purchased your Homecoming Football ticket yet? Seats are going quickly! Click here to reserve your spot to one of the great Maryland traditions!<br><br>For additional questions regarding tickets, please review the Ticket Office Information</p>
                        <p><a class="gray bold" href="http://umterps.com/">Learn More &rarr;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="panel panel-default contact-match no-styles">
                    <div class="panel-body panel-body-med">
                        <p class="match"><span class="bold red">Game Attendee Parking</span><br>With over 50,000+ fans visiting campus, parking becomes an important part of the Game Day experience. If you plan to be driving to campus, please review our Game Day parking policies here</p>
                        <p><a class="gray bold" href="http://www.transportation.umd.edu/fballGameAttendee.html">Learn More &rarr;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="panel panel-default contact-match no-styles">
                    <div class="panel-body panel-body-med">
                        <p class="match"><span class="bold red">Athletic Events</span><br>Football isn't the only reason to cheer at Maryland during Homecoming week! The winning volleyball and powerhouse men's soccer teams host big matches, while the women's basketball team opens its season with an exhibition game.</p>
                        <p><a class="gray bold" href="http://www.umterps.com/main/Schedule.dbml?DB_LANG=C&DB_OEM_ID=29700&SPID=&SPSID=&PAGEMO=1">Learn More &rarr;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include /sections/terp-alley.html %}







