---
layout: sub-pages
title: Alumni
description: To Turn Imagination into Innovation
permalink: '/events/alumni/'
---
    
    <div class="hero-wrapper overlay dark clearfix">
        <div id="hero" class="header-banner" style="background-image:url('{{ site.baseurl }}/img/bg/event.png');"></div>
        <div class="h-textarea">
            <div class="h-textarea-inner">
                <div class="textarea-intro">
                    <img class="center img-responsive icon" src="{{ site.baseurl }}/img/icons/riggs-lrg.png">
                    <h1 class="white center normal-case"><strong>Events</strong></h1>
                </div>
            </div>
        </div>
    </div>

    {% include /sections/event-subnav.html %}

    {% include /sections/alumni-feature.html %}

    <div class="row med-spaces no-pad-b hero-small">
        <div class="col-lg-3 no-pad-all">
            {% include /cards/football-game.html %}
        </div>
        <div class="col-lg-3 no-pad-all">
            {% include /cards/terp-carnival.html %}
        </div>
        <div class="col-lg-3 no-pad-all">
            {% include /cards/service-day.html %}
        </div>
        <div class="col-lg-3 no-pad-all">
            {% include /cards/homecoming-5k.html %}
        </div>
    </div>

    

    <div class="yellow-bg">
        <div class="container med-spaces">
            <div class="center">
                <a class="btn btn-blk square" href="http://calendar.umd.edu">View Full Event Calendar</a>
            </div>
        </div>
    </div>







