---
layout: sub-pages
title: Spirit and Traditions
description:
permalink: '/spirit/'
---
	
    <div class="hero-wrapper overlay dark clearfix">
        <div id="hero" class="header-banner" style="background-image:url('{{ site.baseurl }}/img/bg/event.png');"></div>
        <div class="h-textarea">
            <div class="h-textarea-inner">
                <div class="textarea-intro">
                    <img class="center img-responsive icon" src="{{ site.baseurl }}/img/icons/mckeldin-lrg.png">
                    <h1 class="white center normal-case"><strong>Spirit &amp; Traditions</strong></h1>
                </div>
            </div>
        </div>
    </div>

    <section class="med-spaces">
        <div class="hero-wrapper tall clearfix">
            <div id="hero" class="header-banner dark" style="background-image:url('{{ site.baseurl }}/img/bg/spiritofmd.png');"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 spaces">
                        <div class="col-md-7">
                        <div class="panel panel-default dark">
                            <div class="panel-body panel-body-lrg">
                                <h3 class="white normal-case med-spaces bold no-marg">{{ site.data.locale.spirit_royalty.title }}</h3>
                                <p class="white">{{ site.data.locale.spirit_royalty.description }}</p>
                                <a class="white" href="{{ site.data.locale.spirit_royalty.link_url }}"><u>{{ site.data.locale.spirit_royalty.link }} &rarr;</u></a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="service"></div>
    <div id="carnival"></div>
    
    <section class="white-bg" >
        <div class="container event spaces" >
            <div class="row">
                <div class="col-md-6 no-pad-all">
                    <img class="img-responsive full" src="{{ site.baseurl }}/img/terps-hunger.png" alt="Terps against hunger three girls laughing while making lunches">
                    <div class="event-inner">
                        <h2 class="match center gray bold letter-spacing thirtyfour">{{ site.data.locale.service_day.title }}</h2>
                        <p class="center bold uppercase letter-spacing gray">{{ site.data.locale.service_day.date_time }}<br>{{ site.data.locale.service_day.location }}</p>
                        <img class="center wavy-lines" src="{{ site.baseurl }}/img/wave-lines.svg" alt="wavy line divider for stylistic purposes">
                        <p class="event-description match-2">{{ site.data.locale.service_day.description }}<br><br></p>
                        <p class="center"><a class="btn btn-red square" href="{{ site.data.locale.service_day.link_url }}">{{ site.data.locale.service_day.link }}</a></p>
                    </div>
                </div>

                <div class="col-md-6 no-pad-all">
                    <img class="img-responsive full" src="{{ site.baseurl }}/img/carnival.png" alt="Photo of Mckeldin library with fireworks and a lightshow on the roof">
                    <div class="event-inner no-border">
                        <h2 class="match center gray bold letter-spacing thirtyfour">{{ site.data.locale.terp_carnival.title }}</h2>
                        <p class="center bold uppercase letter-spacing gray">{{ site.data.locale.terp_carnival.date_time }}<br>{{ site.data.locale.terp_carnival.location }}</p>
                        <img class="center wavy-lines" src="{{ site.baseurl }}/img/wave-lines.svg" alt="wavy line divider for stylistic purposes">
                        <p class="event-description match-2">{{ site.data.locale.terp_carnival.description }}<br><br></p>
                        <p class="center"><a class="btn btn-red square" href="{{ site.data.locale.terp_carnival.link_url }}">{{ site.data.locale.terp_carnival.link }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="terps"></div>

    <section class="med-spaces">
        <div class="container ">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-title no-border no-pad no-marg">Show Your Terp Spirit!</h2>
                </div>
            </div>
        </div>
    </section>
    
    <section class="yellow-bg">
        <div class="container spaces no-pad-b">
            <div class="row">
                <div class="col-md-4">
                    <div class="spaces">
                        <p><span class="bold body-color">Homecoming Spirit Days</span><br>
                        Homecoming is about celebrating the University of Maryland and we want to make sure that everyone has their chance to wear their best gold, black, white, and red outfits. If you're on campus please join us in celebrating every color of our alma mater.</p>
                        <ul class="list-unstyled">
                            <li>Monday, October 23: RED</li>
                            <li>Tuesday, October 24: WHITE</li>
                            <li>Wednesday, October 25: GOLD</li>
                            <li>Thursday, October 26: BLACK</li>
                            <li>Friday, October 27: ALL MARYLAND COLORS</li>
                        </ul>
                    </div> 
                </div>
                <div class="col-md-4 relative">
                    <img class="img-responsive testudo-float center" src="{{ site.baseurl }}/img/testudo-half.png" alt="Testudo holding pom poms">
                </div>
                <div class="col-md-4">
                    <div class="spaces">
                        <p><span class="bold body-color">Homecoming Office Decorating Competition</span><br>
                        With Homecoming approaching quickly, show your Terrapin Pride by decking out your office suites! It’s our Third Annual Homecoming Office Decorating Competition so we encourage you to “Beat the Hoosiers!” Your participation will get students, faculty, and staff in the Homecoming Spirit as well as give your office a chance to be our Grand Prize Winner! The competition is open to all. So come one, come all!</p>
                        <p><a class="bold body-color" href="https://go.umd.edu/officedecoratingHC17">Apply Here &rarr;</a></p>
                    </div> 
                </div>
            </div>
        </div>
    </section>

    {% include /sections/football.html %}

    {% include /sections/wear-pride.html %}

    <div class="container spaces">
        <div class="row spaces">
            <div class="col-md-5">
                <p><b class="red">"Fearless Ideas" Ice Cream</b><br>
                This limited-edition Maryland Dairy ice cream debuting on Oct. 27 reflects the university’s global influence. It starts with Maryland cream blended with Free Trade Latin American and European chocolates and a hint of Madagascar vanilla. This chocolate base is then swirled with sweetened Italian mascarpone cheese and melted chocolate truffles blended with a splash of Sagamore Spirits Maryland rye whiskey. It will be available only at the Stamp and select concession stands at Maryland Stadium.</p>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <p><b class="red">Terpride</b><br>Stop by the university’s pride-mobile in the tailgate area before the football game, with a photo booth and T-shirt giveaway.</p>
            </div>
        </div>
    </div>

    {% include /sections/terp-alley.html %}







