---
layout: sub-pages
title: Venue Details
description: Get Directions, Learn About Parking, and More
permalink: '/venue/'
---
	
    <div class="hero-wrapper overlay dark clearfix">
        <div id="hero" class="header-banner" style="background-image:url('{{ site.baseurl }}/img/bg/venue.png');"></div>
        <div class="h-textarea">
            <div class="h-textarea-inner">
                <div class="textarea-intro">
                    <img class="center img-responsive icon" src="{{ site.baseurl }}/img/icons/hotel-lrg.png">
                    <h1 class="white center normal-case"><strong>Venue Details</strong></h1>
                </div>
            </div>
        </div>
    </div>

    {% include /sections/venue-details.html %}

    <section class="med-spaces" id="parking">
        <div class="container ">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-title no-border no-pad no-marg">Parking</h2>
                </div>
            </div>
        </div>
    </section>

	<div class="container med-spaces">
        <div class="row">
            <div class="col-md-4">
            	<div class="panel panel-default no-styles match">
                    <div class="panel-body panel-body-med">
                        <p><span class="bold red">Visitor Parking</span><br>
                        Visitor Parking is available in 4 parking garages and several surface lots. Most visitors use the Digital Pay Stations to park, which accept cash or credit.</p>
                        <p><a class="gray bold" href="http://www.transportation.umd.edu/parking/maps/map_visitor.pdf">Parking Map (PDF) &rarr;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default no-styles match">
                    <div class="panel-body panel-body-med">
                        <p><span class="bold red">Game Attendee Parking</span><br>All attendees are encouraged to purchase game day parking permits in advance. <a href="https://my.parkingsoft.com/umd">Parking permits</a> may be purchased on-site at Terrapin Trail Garage if space is available. The cost of a single game permit is $17.</p>
                        <p>Current students and employees should browse the <a href="http://www.transportation.umd.edu/fballParking.html">Parking on Game Day</a> section of this website to learn how game days will impact travel to campus.</p>
                        <p><a class="gray bold" href="http://www.transportation.umd.edu/shuttle.html">Game Day Bus Routes &rarr;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="panel panel-default no-styles match">
                    <div class="panel-body panel-body-med">
                        <p><span class="bold red">Terp Carnival Parking</span><br>Guests planning on attending the Terp Carnival after 4 p.m. on Friday, October 27 are encouraged to park in lots C1 and C2, or Lot 1.</p>
                        <p><a class="gray bold" href="https://www.google.com/maps/dir//%E2%80%99%E2%80%99/@38.9884955,-76.9498323,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89b7c691022ac569:0xd8e5fb0fcea7341d!2m2!1d-76.9493627!2d38.9883956">Directions &rarr;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="med-spaces">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-title no-border no-pad no-marg">Directions</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="med-spaces">
        <div class="">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.2442115865783!2d-76.94474834836963!3d38.986922449165576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c6bd3e9aaaab%3A0xd48e8bdda5e4da9a!2sUniversity+of+Maryland!5e0!3m2!1sen!2sus!4v1504635681476" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    {% include /sections/venue-buttons.html %}

        <section class="med-spaces no-pad-b">
        <div class="feature-card-container">
            <div class="feature-card clearfix image-left height-100 no-box-shadow no-border">
                <div class="feature-description grid-width">
                    <div class="feature-content clearfix spaces">
                        <div class="col-lg-8">
                            <h3 class="red bold">The Hotel</h3>
                            <p>The new Hotel at the University of Maryland is offering a Homecoming 2017 package that includes accommodations, overnight self-parking and two welcome drinks at the lobby bar.  Rates start at $279 plus tax.</p>
                            <p>Call 301.277.7777.</p>
                            <p><a class="bold body-color" href="https://www.thehotelumd.com/">About The Hotel at the University of Maryland &rarr;</a></p>
                        </div>
                    </div>
                </div>
                <div class="feature-img-container">
                    <div class="feature-img" style="background-image: url('{{ site.baseurl }}/img/bg/hotel.png');"></div>
                </div>
            </div>
        </div>
    </section>







